*{
	margin:0px;
	padding: 0px;
}
body{
	font-family: sans-serif; 
	background-color: #D4E6F1;
}

header {
	background-color: #154360;
	box-shadow: 2px 2px 5px #999;
	font-size: 0px;
	position: relative;
}

header .logo{
	font-size: 30px;
	font-family: 'Hurricane', cursive;
	color:white;
	padding-left: 20px;
	display: inline;
}
header .publicar{
	font-size: 15px;
	font-family: Century Gothic;
	font-weight: bold;
	color:white;
	padding: 5px;
	text-decoration: 0px; 
	float:right;
	margin: 5px;
}

header .inicio{
	font-size: 15px;
	font-family: Century Gothic;
	font-weight: bold;
	color:white;
	padding: 5px;
	text-align: right;
	text-decoration: 0px;
	text-align: right;
	float:right;
	margin:5px;
}

header .fa-regular.fa-bowl-hot{
	margin-right: 10px;
	font-size: 15px;
}

header .fa-solid.fa-house{
	margin-right: 10px;
	font-size: 15px;	
}

article a {
	text-decoration: 0px;
}
article section {
	text-align: center;
	background-color: white;
	position: relative;
	z-index: -1;
}

article .recomendaciones_descripcion{
	background-color: yellow;
	position: absolute;
	top: 140px;
	margin-left: 60px; 
	width: 500px;
}

article .imgcomida{
	height:450px;
	width:550px;
	border-radius: 20px;
	margin-left: 690px;
	margin-top: 20px;
	margin-bottom: 20px;

}
article .nombre_receta{
	font-family: 'Cabin';
	color: black;

}
article .descripcion{
	display: inline;
	margin-left: 50px;
	color:#85929E;
}

article .imagen{
	height:150px;
	width:250px;
	border: 2px solid black;
	margin-top: 400px;
}
